<%- include('partials/header') %>


<section id="stumain">
    <div id="maincontainer">
      <div class="row">
        <div class="col-lg-6">
          <h1 id="mainhead" class="p-3">Studylight</h1>
        </div>
        <div class="col-lg-6">
          <div class="d-flex justify-content-between">
            <form action="/home" method="POST">
              <input type="hidden" name="email" value=<%= email %>>
              <button type="submit" class="btn btn-outline-light m-3">Home</button>
            </form>
            <a href="/" class="btn btn-outline-light m-3">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="classcontainer">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="h2 p-2"><%= classname %></h2>
                <h4 class="h4 p-2">Staff : <%= name %></h4>
            </div>
            <div class="col-lg-4 text-center">
                <h3 class="h3">Class code:</h3>
                <p class="text-white">Click to copy class code</p>
                <button type="button" class="btn btn-outline-light" onclick="copy()"><%= code %></button>
            </div>
            <div class="col-lg-4 text-center">
              <button type="submit" name="postl" id="postl" data-bs-toggle="modal" data-bs-target="#postModal" class="w-75 mb-2 btn btn-lg btn-outline-light">Make a post</button>
              <button type="button" name="testl" id="testl" data-bs-toggle="modal" data-bs-target="#testModal" class="w-75 mb-2 btn btn-lg btn-outline-light">Create a Test</button>
              <button type="button" name="assignl" id="assignl" data-bs-toggle="modal" data-bs-target="#assignModal" class="w-75 mb-2 btn btn-lg btn-outline-light">New Assignment</button>
            </div>
        </div>
    </div>    
</section>

<section id="classstream">
    <div class="row w-100">
        <div class="col-lg-3 px-3">
            <div class="card mx-auto text-center my-3 border-dark" style="max-width: 18rem;">
                <div class="card-header text-white">    
                  <h3 class="h3 card-title">Tests posted</h3>
                </div>
                <div class="card-body bg-light">
                  <% var ptest=tests.filter(test=>(test.status=="live"))%>
                  <% if (ptest.length!=0) { %>
                    <ul class="list-group">
                      <% var l= ptest.length < 5 ? ptest.length : 5%>
                      <% for(i=0;i < l;i++){ %>
                        <li class="list-group-item">
                          <form action="/testpage" method="post">
                            <input type="hidden" name="code" value=<%= code %>>
                            <input type="hidden" name="_id" value=<%= ptest[i]._id %>>
                            <input type="hidden" name="email" value=<%= email %>>
                            <button type="submit" class="btn w-100"><%= ptest[i].title %></button>
                          </form>
                        </li>
                      <% } %>
                    </ul>
                    <button class="btn mybtn shadow-none w-100 mt-2" onclick="testpage()";>View all tests</button>
                  <% }else{ %>
                    <i class="fas fa-3x p-3 fa-check-circle"></i>
                    <p class="card-text">All tests ended</p>
                  <% } %>  
                </div>
            </div>
            <div class="card mx-auto text-center my-3 border-dark" style="max-width: 18rem;">
              <div class="card-header text-white">    
                <h3 class="h3 card-title">Assigments posted</h3>
              </div>
              <div class="card-body bg-light">
                <% var passign=assign.filter(a=>(a.status=="live"))%>
                <% if (passign.length!=0) { %>
                  <ul class="list-group">
                    <% var l= passign.length < 5 ? passign.length : 5%>
                    <% for(i=0;i < l;i++){ %>
                      <li class="list-group-item">
                        <form action="/assignpage" method="post">
                          <input type="hidden" name="code" value=<%= code %>>
                          <input type="hidden" name="_id" value=<%= passign[i]._id %>>
                          <input type="hidden" name="email" value=<%= email %>>
                          <button type="submit" class="btn w-100"><%= passign[i].title %></button>
                        </form>
                      </li>
                    <% } %>
                  </ul>
                  <button class="btn mybtn shadow-none w-100 mt-2" onclick="assignpage()";>View all assignments</button>
                <% }else{ %>
                  <i class="fas fa-3x p-3 fa-check-circle"></i>
                  <p class="card-text">All assignments ended</p>
                <% } %>  
            </div>
          </div>
        </div>
        <div class="col-lg-9 p-3">
            <ul class="nav nav-tabs" id="streamTab" role="tablist">
                <li class="nav-item w-25" role="presentation">
                  <button class="nav-link active w-100" id="post-tab" data-bs-toggle="tab" data-bs-target="#postc" type="button" role="tab" aria-controls="home" aria-selected="true">Posts</button>
                </li>
                <li class="nav-item w-25" role="presentation">
                  <button class="nav-link w-100" id="test-tab" data-bs-toggle="tab" data-bs-target="#testc" type="button" role="tab" aria-controls="profile" aria-selected="false">Tests</button>
                </li>
                <li class="nav-item w-25" role="presentation">
                  <button class="nav-link w-100" id="assign-tab" data-bs-toggle="tab" data-bs-target="#assignc" type="button" role="tab" aria-controls="contact" aria-selected="false">Assignments</button>
                </li>
                <li class="nav-item w-25" role="presentation">
                    <button class="nav-link w-100" id="student-tab" data-bs-toggle="tab" data-bs-target="#studentc" type="button" role="tab" aria-controls="contact" aria-selected="false">Students</button>
                </li>
            </ul>
            <div class="tab-content" id="streamTabContent">
                <div class="tab-pane p-3 fade show active" id="postc" role="tabpanel" aria-labelledby="post-tab">
                    <% if(posts.length==0){ %>
                      <div class="card border-dark mb-3 w-100">
                        <div class="card-header">No posts yet...</div>
                        <div class="card-body text-dark">
                          <p class="card-text">Click post button to make a new post</p>
                        </div>
                      </div>  
                    <% }else{ %>
                      <% for(var i=posts.length-1;i >=0 ;i--){ %>
                          <div class="card border-dark mb-3 w-100">
                              <div class="card-header">
                                <p class="fs-6"><%= posts[i].author %> posted on <%= posts[i].posttime %></p>
                              </div>
                              <div class="card-body text-dark">
                                <p class="card-title"><%= posts[i].title %></p>
                                <p class="card-text"><%= posts[i].description %></p>
                                <div class="row">
                                  <% posts[i].files.forEach((f)=>{ %>
                                    <div class="col-lg-4 col-md-6">
                                      <a href="/<%= f %>" class="btn postfile" target="_blank"><%= f.slice(14) %></a>
                                    </div>
                                  <% }); %>
                                </div>
                              </div>
                          </div>
                      <%}%>
                    <%}%>
                </div>
                <div class="tab-pane p-3 fade" id="testc" role="tabpanel" aria-labelledby="test-tab">
                  <% if(tests.length==0){ %>
                    <div class="card border-dark mb-3 w-100">
                      <div class="card-header">No tests yet...</div>
                      <div class="card-body text-dark">
                        <p class="card-text">Click test button to create a new test</p>
                      </div>
                    </div>
                  <% }else{ %>
                    <% for(var i=tests.length-1;i >=0 ;i--){ %>
                        <div class="card border-dark mb-3 w-100">
                            <div class="card-header">
                              <p class="fs-6">Due on <%= tests[i].duetime %></p>
                            </div>
                            <div class="card-body text-dark">
                              <p class="card-title fw-bold"><%= tests[i].title %></p>
                              <p class="card-text"><%= tests[i].description %></p>
                              <form action="/testpage" method="post">
                                <input type="hidden" name="code" value=<%= code %>>
                                <input type="hidden" name="_id" value=<%= tests[i]._id %>>
                                <input type="hidden" name="email" value=<%= email %>>
                                <button type="submit" class="btn btn-outline-dark">View test</button>
                              </form>
                            </div>
                        </div>
                    <%}%>
                  <%}%>
                </div>
                <div class="tab-pane p-3 fade" id="assignc" role="tabpanel" aria-labelledby="assign-tab">
                  <% if(assign.length==0){ %>
                    <div class="card border-dark mb-3 w-100">
                      <div class="card-header">No Assignments yet...</div>
                      <div class="card-body text-dark">
                        <p class="card-text">Click assignment button to create a new assignment</p>
                      </div>
                    </div>
                  <% }else{ %>
                    <% for(var i=assign.length-1;i >=0 ;i--){ %>
                        <div class="card border-dark mb-3 w-100">
                            <div class="card-header">
                              <p class="fs-6">Due on <%= assign[i].duetime %></p>
                            </div>
                            <div class="card-body text-dark">
                              <p class="card-title fw-bold"><%= assign[i].title %></p>
                              <p class="card-text"><%= assign[i].description %></p>
                              <form action="/assignpage" method="post">
                                <input type="hidden" name="code" value=<%= code %>>
                                <input type="hidden" name="_id" value=<%= assign[i]._id %>>
                                <input type="hidden" name="email" value=<%= email %>>
                                <button type="submit" class="btn btn-outline-dark">View Assignment</button>
                              </form>
                            </div>
                        </div>
                    <%}%>
                  <%}%>
                </div>
                <div class="tab-pane p-3 fade" id="studentc" role="tabpanel" aria-labelledby="student-tab">
                  <% if(students.length==0){ %>
                    <div class="card border-dark mb-3 w-100">
                      <div class="card-header">No students joined...</div>
                      <div class="card-body text-dark">
                        <p class="card-text">Copy code and share it to students so that they can join to this class</p>
                      </div>
                    </div>  
                  <% }else{ %>
                    <div class="row">
                        <% students.forEach((student)=>{ %>
                            <div class="col-lg-3 col-md-6">
                                <div class="card border-dark text-center">
                                    <i class="fas fa-2x p-2 fa-user-circle"></i>
                                    <p class="p-1"><%= student.name %></p>
                                </div>
                            </div>
                        <%});%>
                    </div>
                  <%}%>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postl" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" action="/cpost" enctype="multipart/form-data">
        <div class="modal-body">
          <input type="hidden" name="code" value=<%= code %>>
          <input type="hidden" name="author" value=<%= name %>>
          <input type="hidden" name="email" value=<%= email %>>
          <div class="mb-3">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
          </div>
          <div class="mb-3">
            <label for="desc" class="col-form-label">Message:</label>
            <textarea class="form-control" id="desc" name="desc" required></textarea>
          </div>
          <div class="mb-3">
            <label for="files" class="col-form-label">Files:</label>
            <input type="file" class="form-control" id="files" name="files" multiple>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Send post</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="testModal" tabindex="-1" aria-labelledby="testl" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New test</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" action="/test" enctype="multipart/form-data">
        <div class="modal-body">
          <input type="hidden" name="code" value=<%= code %>>
          <input type="hidden" name="email" value=<%= email %>>
          <div class="mb-3">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
          </div>
          <div class="mb-3">
            <label for="desc" class="col-form-label">Description:</label>
            <textarea class="form-control" id="desc" name="desc" required></textarea>
          </div>
          <div class="mb-3">
            <label for="files" class="col-form-label">Question materials(if any):</label>
            <input type="file" class="form-control" id="files" name="files" multiple>
          </div>
          <div class="mb-3">
            <label for="due" class="col-form-label">Due date:</label>
            <input type="datetime-local" class="form-control" id="due" name="due" required>
          </div>
          <div class="mb-3">
            <label for="mmark" class="col-form-label">Maximum mark:</label>
            <input type="number" class="form-control" id="mmark" name="mmark" min="1" max="100" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create test</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="assignModal" tabindex="-1" aria-labelledby="assignl" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New assignment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" action="/assign" enctype="multipart/form-data">
        <div class="modal-body">
          <input type="hidden" name="code" value=<%= code %>>
          <input type="hidden" name="email" value=<%= email %>>
          <div class="mb-3">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
          </div>
          <div class="mb-3">
            <label for="desc" class="col-form-label">Description:</label>
            <textarea class="form-control" id="desc" name="desc" required></textarea>
          </div>
          <div class="mb-3">
            <label for="files" class="col-form-label">Question materials(if any):</label>
            <input type="file" class="form-control" id="files" name="files" multiple>
          </div>
          <div class="mb-3">
            <label for="due" class="col-form-label">Due date:</label>
            <input type="datetime-local" class="form-control" id="due" name="due" required>
          </div>
          <div class="mb-3">
            <label for="mmark" class="col-form-label">Maximum mark:</label>
            <input type="number" class="form-control" id="mmark" name="mmark" min="1" max="100" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create Assignment</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function copy() {
    var code="<%= code %>";
    navigator.clipboard.writeText(code);
  }
  function testpage(){
    var Tabs = document.querySelectorAll('button[data-bs-toggle="tab"]');
    for (let i = 0; i < Tabs.length; i++) {
      Tabs[i].classList.remove("active");
    }
    document.getElementById("test-tab").classList.add("active");
    var Tabs = document.getElementsByClassName('tab-pane');
    for (let i = 0; i < Tabs.length; i++) {
      Tabs[i].classList.remove("show");
      Tabs[i].classList.remove("active");
    }
    document.getElementById("testc").classList.add("show");
    document.getElementById("testc").classList.add("active");
  }
  function assignpage(){
    var Tabs = document.querySelectorAll('button[data-bs-toggle="tab"]');
    for (let i = 0; i < Tabs.length; i++) {
      Tabs[i].classList.remove("active");
    }
    document.getElementById("assign-tab").classList.add("active");
    var Tabs = document.getElementsByClassName('tab-pane');
    for (let i = 0; i < Tabs.length; i++) {
      Tabs[i].classList.remove("show");
      Tabs[i].classList.remove("active");
    }
    document.getElementById("assignc").classList.add("show");
    document.getElementById("assignc").classList.add("active");
  }  
</script>

<%- include('partials/footer') %>
